<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robo101.patientmonitoringsystem">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PatientMonitoringSystem">
        <activity android:name=".authentication.doctor.EmailLoginActivity"></activity>
        <activity android:name=".authentication.doctor.EmailRegisterActivity" />
        <activity android:name=".activity.doctor.EditProfileActivity" />
        <activity android:name=".activity.doctor.MainActivityDoctor" />
        <activity android:name=".activity.patient.EditProfileActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.patient.VerifyPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authentication.patient.PhoneOTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.patient.MainActivityPatient"
            android:screenOrientation="portrait" />
    </application>

</manifest>